.about-us1 {
  font-weight: bold;
  font-size: 1.5em;
}

.about-us2 {
  font-size: 1.5em;
}

.landing_page_img {
  width: 44em;
  position: absolute;
  bottom: -169px;
  padding-top: 3px;
  z-index: -1;
  left: -35px;
}

.img-filler {
  width: 100%;
  background-color: grey;
}

.AppBody {
  border: 15px solid #e5e5e4;
}

#landingPageForm {
  padding: 15px 15px;
  border-radius: 5px;
  background-color: #ededed !important;
  box-shadow: 10px 10px 5px grey;
}
