@import "./navbar/navbar.css";
@import "./landingPage/landingPage.css";
@import "./footer.css";
@import "./signUp.css";
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import "./cards.css"

body {
  font-family: "Oswald", sans-serif !important;
  background: grey;
}

.AppBody {
  border: 15px solid #e5e5e4;
}
