@import "./navbar/navbar.css";
@import "./landingPage/landingPage.css";
@import "./footer.css";
@import "./signIn.css";
@import url("https://fonts.googleapis.com/css?family=Oswald");

body {
  font-family: "Oswald", sans-serif !important;
  background: grey;
}

.AppBody {
  border: 15px solid #e5e5e4;
}

.collapse-container {
  margin-top: 50px;
  height: 75%;
  margin-bottom: 2em;
}

.shopping_cart_image {
  max-width: 4em;
}

#collapse-container {
  border: solid 2px black !important;
  box-shadow: 5px 10px #888888;
}

#user_menu_container {
  border: solid 1px black !important;
  box-shadow: 5px 10px #888888;
}

#browse_container {
  border: solid 2px black !important;
}

.browse_img_size {
  max-height: 7em;
  min-height: 7em;
}

.browse_fonticon_hovertransform:hover {
  transform: scale(1.3);
}

.position-fixed {
  width: inherit;
}

.Sell_Form_Border {
  background-image: linear-gradient(to right bottom, #d6c6c7, rgb(0, 0, 0));
}

.Sell_Img_SizeSm {
  width: 6vw;
  height: 6vw;
}
.Sell_Img_SizeLg {
  width: 8vw;
  height: 8vw;
}
